@{
    ViewData["Title"] = "Gestion de Presupuesto";
}

@foreach (var Presupuesto in Model)
{
    <table class="table table-dark table-striped mt-4">
        <thead>
            <tr>
                <th scope="col">IdPresupuesto</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha de Creacion</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Presupuesto.IdPresupuesto</td>
                <td>@Presupuesto.NombreDestinatario</td>
                <td>@Presupuesto.Detalle</td>
                <table class="table table-dark table-striped mt-4">
                    <thead>
                        <tr>
                            <th scope="col">IdProducto</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Precio</th>
                            <th scope="col" class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    @foreach (var detalle in @Presupuesto.Detalle)
                    {

                        <tbody>
                            <tr>
                                <td>@detalle.Producto.IdProducto</td>
                                <td>@detalle.Producto.Descripcion</td>
                                <td>@detalle.Producto.Precio</td>
                            </tr>
                        </tbody>

                    }
                </table>
            </tr>
        </tbody>
    </table>
}